Required Dependencies:

- cortex
- numpy
- dash_bootstrap_components
- dash
- dcc
- skimage
- callback
- pickle
- matplotlib.pyplot
- jupyter
- wheels
- cython
- pycortex
- pandas
- plotly
- gunicorn
- scikit-image




